/*========================================*/
/*-------------- [_Form] -----------------*/
/*========================================*/
.form-control {
	box-shadow: none;
	outline: none;
	border: 1px solid #dfdce6;
	background: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	font-family: $heading-font;
	color: $bg-secondary-color;
	height: auto;
	padding: 20px;
	resize: none;
	min-width: 100%;
	height: 56px;
}
textarea.form-control {
	min-height: 210px;
}
.form-control:focus {
	border-color: #e41f7a;
}
.contact-form textarea {
	display: inline-block;
	min-height: 210px;
}
.contact-form textarea,
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="password"],
	{
	background: $bg-silver;
	border: 1px solid #e3e3e3;
}
.contact-form .form-control:focus {
	border-color: $bg-primary-color;
	background: #fff;
}
.request-a-call-back-form-vertical {
	background: $bg-primary-color3;
	padding: 65px 50px 70px 50px;
}
.request-a-call-back-form-vertical.form-control {
	margin-bottom: 20px;
}
.request-a-call-back-form-vertical .custom-select-categories {
	background-color: #fff;
	color: $bg-secondary-color;
	height: 56px;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	padding: 4px 15px;
	border: 1px solid #dfdce6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: none;
}
.request-a-call-back-form-vertical-two {
	padding: 30px 30px 40px 30px;
}
.request-a-call-back-form-vertical-two {
	background: #a6c1cd;
}
.request-a-call-back-form-vertical-two.form-control {
	margin-bottom: 20px;
}
.request-a-call-back-form-vertical-two .custom-select-categories {
	background-color: #fff;
	color: $bg-secondary-color;
	height: 56px;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	padding: 4px 15px;
	border: 1px solid #dfdce6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: none;
}
.request-a-call-back-form .custom-select-categories {
	background-color: #fff;
	color: $bg-secondary-color;
	height: 56px;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	padding: 4px 15px;
	border: 1px solid #dfdce6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: none;
}
.request-a-call-back-form.sidebar {
	background: $bg-secondary-color;
	padding: 30px;
}
select {
	width: 268px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 5px;
	height: 34px;
	background: url(../images/down-arrow.png) no-repeat right #ddd;
	-webkit-appearance: none;
	background-position-x: 96%;
}
.contact-block {
	background: #F4F6FA;
	padding: 30px 30px;
	border: 1px solid #eee;
}
.contact-icon i {
	width: 72px;
	height: 72px;
	background: $bg-primary-color;
	text-align: center;
	line-height: 72px;
	display: inline-block;
}
.contact-icon i:before {
	color: #fff;
	font-size: 36px;
}
.contact-details {
	margin-left: 30px;
}