/*========================================*/
/*-------------- [_Page_Title] -----------*/
/*========================================*/
.page-title-section {
  padding: 110px 0;
  background-color: #f8f8f8;
  background-image: url(../images/bg/page-title-bg.jpg);
  color: #fff;
}