/*========================================*/
/*-------- [_Section_testimonials] -------*/
/*========================================*/
.testimonial-item {
	background: #f8f8fa;
	padding: 35px;
	position: relative;
	border-radius: 12px;
	overflow: hidden;
}
.testimonial-item:after {
	content: "";
	position: absolute;
	background: $bg-primary-color;
	top: -70px;
	left: -60px;
	height: 80px;
	width: 110%;
	@include transform(skew(0deg, -2deg));
	opacity: 0.1;
}
.testimonial-item:before {
	content: "";
	position: absolute;
	background: $bg-primary-color;
	bottom: -60px;
	right: 0;
	height: 72px;
	width: 100%;
	opacity: 0.2;
	@include transform(skew(0deg, -2deg));
}
.testimonial-thumb {
	display: inline-block;
	background: #f6d0d4;
	padding: 3px;
	border-radius: 20%;
	margin-bottom: 20px;
}
.testimonial-thumb img {
	border-radius: 20%;
}
.testimonial-content .comments {
	font-style: italic;
}
.client-designation {
	font-size: 16px;
	color: #a6a4a4;
	letter-spacing: 0px;
	font-weight: 400;
	margin-bottom: 10px;
}
.star-rating li i {
	font-size: 18px;
}
.client-name {
	margin-bottom: 3px;
}
.quote-icon:before {
	position: absolute;
	right: 40px;
	text-align: center;
	z-index: 1;
	font-size: 14rem;
	@include transform(translateY(50%) rotate(-180deg));
	opacity: 0.03;
	color: $bg-primary-color;
	top: -60px;
}